/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*html {
  font-family: Arial, Helvetica, sans-serif;
}
#content,
.content-sale,
.customer {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
#main {
  background-color: #f0f0f0;
}
/* header */
#header {
  background-color: red;
  height: 46px;
}

#header .nav li {
  height: 46px;
}
.nav {
  display: inline-block;
}

.nav li {
  line-height: 46px;
  display: inline-block;
  position: relative;
}

.nav li a {
  color: #fff;
  text-decoration: none;
  padding: 0 24px;
  text-transform: uppercase;
}

.nav .subnav li {
  display: block;
}

.nav .subnav li a {
  display: none;
  width: 140.453px;
}

.nav .subnav {
  position: absolute;
  display: inline-block;
}

.nav li:hover a {
  color: #333;
  background-color: #ccc;
  display: block;
}

.subnav li:hover a {
  color: red;
}
/* css-search */
.search {
  float: right;
  color: #fff;
  padding: 15px 17px;
}

.search:hover {
  background-color: blue;
  cursor: pointer;
}
/*content  */

.text-freeship {
  color: green;
  background-color: yellow;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 2;
}
.img-freeship {
  margin-bottom: 15px;
}
.img-freeship1 {
  max-width: 100%;
}
.text-sale {
  background-color: red;
  color: #fff;
  text-transform: uppercase;
}

.text-sale p {
  text-align: center;
  padding: 11px 0;
}

/* list sale */
.content-sale {
  vertical-align: top;
}
.list-sale {
  word-spacing: -1ch;
  background-color: #fff;
}

.list-sale .mobile-sale {
  display: inline-block;
  height: 200px;
  width: 200px;
  word-spacing: normal;
  text-align: center;
  list-style-type: none;
  border-right: 1px solid #f3f3f3;
  border-color: 1px solid #f3f3f3;
  background-color: F5F5F5;
}
.img-mobile {
  max-width: 200px;
  max-height: 200px;
}

/* customer */
.customer {
  margin-top: 15px;
  background-color: #fff;
}

.text-customer {
  text-transform: uppercase;
}

.text-customer p {
  padding: 15px 0;
}
.img-customer {
  display: inline-block;
}
.subimg-customer {
  width: 247px;
}
/* footer */
#footer {
  margin-top: 15px;
  background-color: #fff;
  width: 1000px;

  margin-right: auto;
  margin-left: auto;
}
.subfooter {
  width: 247px;
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
}
.subfooter li {
  line-height: 1.5;
  list-style-type: none;
}
/* seemore */
.seemore {
  width: 390px;
  height: 40px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.seemore p {
  text-align: center;
  padding: 10px 0;
  color: #333;
}
.seemore a {
  text-decoration: none;
}
